<div class="container">
    <!--Navbar-->
    <mdb-navbar SideClass="navbar navbar-expand-lg white" class="roboto">
        <!-- Navbar brand -->
        <mdb-navbar-brand>
            <a class="navbar-brand" href="#">
            <img src="./assets/logo_blue.png" height="40" alt="Hi! meet deb.">
            </a>
        </mdb-navbar-brand>
        <!-- Collapsible content -->
        <links>
            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a href="#product" class="text-dark nav-link waves-light" mdbWavesEffect><strong>Features</strong></a>
                </li>
                <li class="nav-item">
                    <a href="#signup" class="text-dark nav-link waves-light" mdbWavesEffect><strong>Sign Up</strong></a>
                </li>
            </ul>
            <!-- Links -->
        </links>
        <!-- Collapsible content -->
    </mdb-navbar>
    <!--/.Navbar-->
    <br>
    <!-- Jumbotron -->
    <div class="whitesmoke jumbotron rounded2 gibson">
        <!-- Grid row -->
        <div class="row">
            <!-- Grid column -->
            <div class="col-lg-5">
                <br>
                <br>
                <!-- Post title -->
                <h2 class="mb-3 home-hero-headline"><strong>Change your spend habits.</strong></h2>
                <!-- Excerpt -->
                <p class="home-hero-intro">debt, meet deb. The only app that influences and changes your spending habits.</p>
                <!-- Read more button -->
                <a href="#signup" class="gibson" mdbBtn type="button" color="info" rounded="true" size="lg" mdbWavesEffect>Signup for early access</a>
            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-lg-7">
                <!-- Featured image -->
                <div class="view rounded mb-lg-0 mb-4 waves-light"  mdbWavesEffect>
                    <img class="img-fluid" src="./assets/hero.png" alt="Sample image">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row -->
    </div>
    <!-- Jumbotron -->
    <br>
    <!--Section: Contact v.1-->
    <section class="pb-5 text-center">
        <!--Section heading-->
        <h2 class="green-text">Take back control.</h2>
        <br>
        <!--Section description-->
        <h5 class="pb-4">We've had enough with apps and subscriptions that encourage more spending.
            <br>
            <br>
            <span class="pb-4 blue-text">Invest in this, buy this, upgrade now!</span>
            <br>
            <br>
            We believe it's time to change those habits. 
        </h5>
    </section>
    <!-- Jumbotron -->
    <div id="product" class="whitesmoke jumbotron rounded2 gibson">
        <!-- Grid row -->
        <div class="row">
            <!-- Grid column -->
            <div class="col-lg-12 text-center">
                <!-- Post title -->
                <h3 class="mb-3"><strong>Accountability and control your budget has never seen.</strong></h3>
            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row -->
        <br>
        <div class="row">
            <div class="col-md-4">
                <!--Card-->
                <mdb-card class="rounded2" cascade="true" wider="true">
                    <mdb-card-body cascade="true" class="text-center">
                        <!--Card content-->
                        <h5>
                            Change your spend.
                        </h5>
                        <br>
                        <img src="./assets/cc.svg" class="img-fluid img-sm" alt="Responsive image">
                        <br>
                        <br>
                        <mdb-card-text>
                            Virtual & Physical Debit Cards to influence future spending habits.
                        </mdb-card-text>
                    </mdb-card-body>
                    <!--/.Card content-->
                </mdb-card>
                <!--/.Card-->
            </div>
            <div class="col-md-4">
                <!--Card-->
                <mdb-card class="rounded2" cascade="true" wider="true">
                    <mdb-card-body cascade="true" class="text-center">
                        <!--Card content-->
                        <h5>
                            Life happens.
                        </h5>
                        <br>
                        <img src="./assets/save.svg" class="img-fluid img-sm" alt="Responsive image">
                        <br>
                        <br>
                        <mdb-card-text>
                            Pay over time options for unexpected expenses.
                        </mdb-card-text>
                    </mdb-card-body>
                    <!--/.Card content-->
                </mdb-card>
                <!--/.Card-->
            </div>
            <div class="col-md-4">
                <!--Card-->
                <mdb-card class="rounded2" cascade="true" wider="true">
                    <mdb-card-body cascade="true" class="text-center">
                        <!--Card content-->
                        <h5>
                            Get out of debt & stay out.
                        </h5>
                        <br>
                        <img src="./assets/vault.svg" class="img-fluid img-sm" alt="Responsive image">
                        <br>
                        <br>
                        <mdb-card-text>
                            Ability to snowball other debt to stop the leaks.
                        </mdb-card-text>
                    </mdb-card-body>
                    <!--/.Card content-->
                </mdb-card>
                <!--/.Card-->
            </div>
        </div>
    </div>
    <!-- Jumbotron -->
    <br>
    <!--Section: Features v.3-->
    <section>
        <!--Grid row-->
        <div class="row pt-2">
            <!--Grid column-->
            <div class="col-lg-5 text-center text-lg-left">
                <img src="./assets/cards.png" alt="" class="img-fluid z-depth-0">
            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-lg-7">
                <!--Grid row-->
                <div class="row pb-3">
                    <div class="col-10">
                        <br>
                        <br>
                        <br>
                        <br>
                        <h5 class="font-weight-bold text-left mb-3 dark-grey-text"><a href="https://twitter.com/hashtag/ChangeYourSpend">#ChangeYourSpend</a></h5>
                        <p class="grey-text text-left">
                            Consumer debt has reached $4.01 trillion and is continuing to rise. We live in a society that encourages consumerism and spending and quite frankly, we've had enough. 
                            <br>
                            <br>
                            It's time for us to take back our hard-earned money. We believe in budgets that we can be held accountable to, forgiveness and tools when we don't, and the simple luxury of getting out of debt, and more importantly, staying out of debt.
                        </p>
                    </div>
                </div>
                <!--Grid row-->
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </section>
    <!--Section: Features v.3-->
    <br>
    <!-- Jumbotron -->
    <div id="signup" class="whitesmoke jumbotron rounded2 gibson">
        <!-- Grid row -->
        <div class="row">
            <!-- Grid column -->
            <div class="col-lg-6 text-center">
                <!-- Post title -->
                <br>
                <h3 class="mb-3"><strong>Introduce your debt to deb.</strong></h3>
            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-lg-6 text-center">
                <!-- Default auto-sizing form -->
                <form action="https://formspree.io/earlyaccess@meetdeb.com" method="POST" >
                    <!-- Grid row -->
                    <div class="form-row align-items-center">
                        <!-- Grid column -->
                        <div class="col-auto">
                            <!-- Default input -->
                            <!-- <label class="sr-only" for="inlineFormInput">Name</label> -->
                            <!-- <input mdbInput type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Jane Doe"> -->
                            <div class="md-form form-lg">
                                <!-- <input mdbInput type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Jane Doe"> -->
                                <input name="email" id="form-lg" class="form-control form-control-lg mb-2" type="text" mdbInput>
                                <label for="form-lg">Early Access</label>
                            </div>
                        </div>
                        <!-- Grid column -->
                        <!-- Grid column -->
                        <div class="col-auto">
                            <button class="gibson" mdbBtn type="submit" color="info" rounded="true" size="lg" mdbWavesEffect>Sign up</button>
                        </div>
                    </div>
                    <!-- Grid row -->
                </form>
                <!-- Default auto-sizing form -->
            </div>
            <!-- Grid column -->
        </div>
    </div>
    <!-- Jumbotron -->
    <!-- Footer -->
    <footer class="page-footer font-small pt-4 rounded2 footer-main">
        <!-- Footer Links -->
        <div class="container text-center text-md-left rounded2">
            <!-- Grid row -->
            <div class="row">
                <!-- Grid column -->
                <div class="col-md-2 mx-auto"></div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 mx-auto">
                    <!-- Content -->
                    <a class="navbar-brand" href="#">
                    <img src="./assets/logo_white.png" height="40" alt="Hi! meet deb.">
                    </a>
                    <p>
                        Change your spend.
                    </p>
                    <!-- Social buttons -->
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item">
                            <a mdbBtn floating="true" color="tw" class="mx-1" mdbWavesEffect href="https://twitter.com/debtmeetdeb">
                                <mdb-icon fab icon="twitter"></mdb-icon>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a mdbBtn floating="true" color="gplus" class="mx-1" mdbWavesEffect href="https://www.instagram.com/debtmeetdeb/">
                                <mdb-icon fab fab icon="instagram"></mdb-icon>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a mdbBtn floating="true" color="li" class="mx-1" mdbWavesEffect href="https://www.linkedin.com/company/meetdeb/">
                                <mdb-icon fab icon="linkedin"></mdb-icon>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a mdbBtn floating="true" color="li" class="mx-1" mdbWavesEffect href="https://angel.co/company/deb-7">
                                <mdb-icon fab icon="angellist"></mdb-icon>
                            </a>
                        </li>
                    </ul>
                    <!-- Social buttons -->
                    <a href="https://www.meetdeb.com">© 2019 deb, inc</a> 
                </div>
                <!-- Grid column -->
                <hr class="clearfix w-100 d-md-none">
                <!-- Grid column -->
                <div class="col-md-2 mx-auto">
                    <!-- Links -->
                    <h5 class="text-success font-weight-bold mt-3 mb-4">Company</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="https://angel.co/company/deb-7/jobs">Jobs</a>
                        </li>
                    </ul>
                </div>
                <!-- Grid column -->
                <hr class="clearfix w-100 d-md-none">
                <!-- Grid column -->
                <div class="col-md-2 mx-auto">
                    <!-- Links -->
                    <h5 class="font-weight-bold text-warning mt-3 mb-4">Product</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="mailto:contact@meetdeb.com?Subject=Hello!">Support</a>
                        </li>
                    </ul>
                </div>
                <!-- Grid column -->
                <hr class="clearfix w-100 d-md-none">
                <!-- Grid column -->
                <div class="col-md-2 mx-auto">
                    <!-- Links -->
                    <h5 class="font-weight-bold text-secondary mt-3 mb-4">iOS Coming Soon!</h5>
                    <!-- <ul class="list-unstyled">
                        <li>
                            <a href="#!">Link 1</a>
                        </li>
                        <li>
                            <a href="#!">Link 2</a>
                        </li>
                        <li>
                            <a href="#!">Link 3</a>
                        </li>
                        <li>
                            <a href="#!">Link 4</a>
                        </li>
                        </ul> -->
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 mx-auto"></div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </footer>
    <!-- Footer -->
    <br>
    <br>
</div>